.header {
    display: flex;
    /* justify-content: center; */
    background-color: #E58763;
    justify-content: flex-start;

}

.footer {
    display: flex;
    justify-content: center;
    background-color: #E58763;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #524997;
}

